project deployed on aws ec2 g4dn.2xlarge ubuntu 22.04 deeplearning base oss nvidia driver gpu ami. Disk size is 75GB, could be expanded.

dockerfile is in the root directory, download from https://github.com/opendatalab/MinerU/raw/master/Dockerfile

api usage example in apiusage.md